.wrapper{
  max-width: 1440px;
  margin: 50px auto;
  padding: 0 50px;
  display: flex;
  flex-direction: column;
  gap: 70px;
}

.m0auto{
  margin: 0 auto;
}

.bord{
  max-width: 900px;
  height: auto;
  @include flex-box(space-between, start, row, 20px, wrap);
  padding: 10px;
  margin: 20px auto;
}