.wrapper{
  max-width: 1440px;
  margin: 0 auto 50px;
  padding: 0 50px;
  @include flex-box(start, start, column, 50px)
}

.m0auto{
  margin: 0 auto;
}

.bord{
  max-width: 90%;
  height: auto;
  @include flex-box(center, start, row, 30px, wrap);
  padding: 10px;
  margin: 20px auto;
}
