.swiper {
  padding: 20px 10px;
}
.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
  cursor: pointer;
  &:hover {
    transform: scale(1.1);
  }
}