.signInAndLogIn-btns{
  @include flex-box(start, start, row, 20px);
  &-btn{
    padding: 5px 10px;
    @include font-style(400, 16px);
    color: $text-color-one;
    cursor: pointer;
    transition: 0.3s;
    &:hover{
      transform: scale(1.05);
      box-shadow: 0px 1px 10px 0px $shadow-color-one;
    }
  }
  .log-in{
    border: 2px solid $border-color-one;
    background: $back-color-two;
    color: $text-color-one;
  }
  .sign-up{
    border: 2px solid $border-color-two;
    background: $back-color-one;
    color: $text-color-two;
  }
}