.specialOrder{
  width: 800px;
  margin: 0px auto 20px;
  @include flex-box(start, start, column, 10px);
  &-title{
    @include font-style(600, 44px);
  }

  &-bord{
    min-width: 100%;
    @include flex-box(start, center, column, 15px);
    &__top{
      width: 100%;
      border-bottom: 2px solid $border-color-two;
      padding: 5px 0;
      @include flex-box(space-between, center, row, 15px);
      &-date{
        @include font-style(600, 24px);
      }
      &-btn{ 
        line-height: 100%;
        color: $text-color-two;
        @include font-style();
        
        & .close{
          transition: 0.2s;
          transform: rotate(45deg);
        }
        & .open{
          transition: 0.2s;
          transform: rotate(0deg);
        }
      }
    }
  }
}

